/* style.css */

/* Estilo del contenedor principal */
.container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de los encabezados */
h1 {
  color: #343a40;
}

h3 {
  color: #007bff;
}

/* Estilo para la sección de búsqueda */
.search-section {
  margin-bottom: 20px;
}

/* Estilo de los resultados */
#results {
  margin-top: 20px;
}

/* Estilo de las imágenes */
.img-fluid {
  border-radius: 5px;
  transition: transform 0.3s;
  width: 100%; /* Ancho del 100% para que sea responsivo */
  max-width: 150px; /* Tamaño máximo para pantallas grandes */
}

.img-fluid:hover {
  transform: scale(1.05);
}

/* Estilo para las tarjetas de películas/series */
.p-2 {
  margin: 10px;
}

/* Estilo del modal */
.modal-content {
  border-radius: 8px;
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-body {
  background-color: #ffffff;
}

/* Centrar los títulos principales */
.title-center {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para el contenedor de lista de deseos */
#wishListContainer {
  margin: 20px;
}

.wish-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wish-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Estilo de imagen en la lista de deseos */
.wish-img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

/* Estilo del botón */
button {
  margin-left: auto;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  /* Ajuste de contenedores en dispositivos más pequeños */
  .container, #wishListContainer {
    padding: 15px;
  }

  /* Ajustes de texto para móviles */
  h1, h3 {
    text-align: center;
    font-size: 1.5em;
  }

  /* Imágenes responsivas para móviles */
  .img-fluid, .wish-img {
    width: 80px; /* Ajuste del ancho de la imagen en dispositivos móviles */
    max-width: 80px;
  }

  /* Ajuste de tamaño para el título */
  .title-center {
    font-size: 20px;
  }

  /* Diseño de lista de deseos en móviles */
  .wish-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Botón de lista de deseos centrado en móviles */
  button {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* Ajustes para dispositivos muy pequeños */
  h1, h3 {
    font-size: 1.2em;
  }

  .container, #wishListContainer {
    padding: 10px;
  }

  .img-fluid, .wish-img {
    width: 70px;
  }

  /* Ajustes de botón y texto */
  button {
    padding: 8px;
    font-size: 0.9em;
  }

  .title-center {
    font-size: 18px;
  }
}
